<h1>Voici la page team</h1>
<p>Voici ma super team, Je te présente les 6 :</p>
<ul>
    <li>Cédric, le patron des patrons</li>
    <li>Vincent, l'As des as</li>
    <li>Loïc, le big boss</li>
    <li> Nils, le pro gamer</li>
    <li>Antoine, le master codeur</li>
    <li>Alex, Jack Sparrow en chef</li>
</ul>