<h1>Hello </h1>
<p>Voici le potin numéro <%= params['id']%> </p>
<a>Voici son titre : <%= @title%></a><br/>
<a>Son contenu : <%= @content%></a><br/>
<p>Le lien pour accéder au profil en question: <a href="/user/2" >Profil </p>

